body{
    background: #f6f6f6;
    position: relative;
    padding-bottom: 5em;
}

footer {
    background: white;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-size: 0.8em;
    color: #868686;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.controls {
    margin-top: 2em;
}

.codeEditor{
    margin-top: 2em;
}

.codeEditor textarea{
    width: 100%;
    min-height: 400px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #e7e7e7;
    padding: 1em;
}

.editor {
    display: inline-flex;
    gap: 10px;
    font-family: monospace;
    line-height: 21px;
    background: #e6e6ef;
    border-radius: 2px;
    padding: 20px 10px;
    width: 100%;
    /*max-height: 80vh;
    overflow-y: auto;*/
    font-size: 12px;
    /*height: 50vh;
    overflow: auto;*/
}

.editor .line-numbers {
    width: 20px;
    text-align: right;
}

.editor .line-numbers span {
    counter-increment:  linenumber;
}

.editor .line-numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #506882;
}

.editor textarea {
    line-height: 21px;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    background: #e6e6ef;
    color: #282a3a;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 300px;
}

#analisisCode {
    width: 100%;
    min-height: 400px;
    background: #e6e6ef;
    padding: 1em;
}

#analisisCode .linea {

}

#analisisCode .linea .contenido{
    display: inline-block;
}

#analisisCode .linea .contador{
    display: inline-block;
    width: 40px;
    text-align: left;
    color: #506882;
}

.analisisCodeTables {
    font-size: 11px;
    max-height: 80vh;
    overflow-y: auto;
}
